# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# IDE dosyalarını ve proje yapılandırma dosyalarını yok say
.idea/
.name
out/
target/
*.log
*.tmp
*.class

# Build output directories
/out/

